[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[dev-packages]



[packages]

Django = "*"
gunicorn = "*"
"pep8" = "*"
"flake8" = "*"
jedi = "*"
django-heroku = "*"


[requires]

python_version = "3.6.4"
